@{
}

@model IEnumerable<Flavor>

<!DOCTYPE html>
<html lang="en">

<body class="index-page">
    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section light-background">

            <div class="container">
                <div class="row gy-4 justify-content-center justify-content-lg-between">
                    <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Enjoy Your Super-Duper<br>Yummy Donuts</h1>
                        <p data-aos="fade-up" data-aos-delay="100">We have the best donuts in all of Utah County- and maybe the world!</p>
                        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                            <a href="#contact" class="btn-get-started">Order Donuts</a>
                            <a href="https://www.youtube.com/watch?v=dI7UnX5s2iE" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                    </div>
                </div>
            </div>

        </section><!-- /Hero Section -->

        <!-- Why Us Section -->
        <section id="why-us" class="why-us section dark-background">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="why-box">
                            <h3>Why Choose PDC</h3>
                            <p>
                                Paradise Donut Company is the best in the business. You heard that right. No other parlor features donuts so delicious,
                                they will make your mouth water and have even caused grown men to shed tears of joy. Order now to see yourself!
                            </p>
                            <div class="text-center">
                                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Why Box -->

                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                            <div class="col-xl-4">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-clipboard-data"></i>
                                    <h4>Top-Selling Brand</h4>
                                    <p>For the tenth straight year, PDC has topped the charts in donut sales.</p>
                                </div>
                            </div><!-- End Icon Box -->

                            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-gem"></i>
                                    <h4>Superior Quality</h4>
                                    <p>In 2023, food critics gave PDC an average rating of 5.0 stars.</p>
                                </div>
                            </div><!-- End Icon Box -->

                            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-inboxes"></i>
                                    <h4>Excellent Service</h4>
                                    <p>PDC received a perfect rating according to Better Business Bureau in 2024.</p>
                                </div>
                            </div><!-- End Icon Box -->

                        </div>
                    </div>

                </div>

            </div>

        </section><!-- /Why Us Section -->

        <!-- Menu Section -->
        <section id="menu" class="menu section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Our Donuts</h2>
                <p><span>Check Our</span> <span class="description-title">Donut Menu</span></p>
            </div><!-- End Section Title -->

            <div class="container">

                <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#showall">
                            <h4>All Donuts</h4>
                        </a><!-- End tab nav item -->

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#iced">
                            <h4>Iced</h4>
                        </a><!-- End tab nav item -->

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#glazed">
                            <h4>Glazed</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#filled">
                            <h4>Filled</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#limitedtime">
                            <h4>Limited Time</h4>
                        </a>
                    </li><!-- End tab nav item -->

                </ul>

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    <div class="tab-pane fade active show" id="showall">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>All Donuts</h3>
                        </div>

                        <div class="row gy-5">
                            @foreach (var flavor in Model)
                            {
                                <div class="col-lg-4 menu-item">
                                    <a href="@flavor.Image" class="glightbox"><img src="@flavor.Image" class="menu-img img-fluid" alt=""></a>
                                    <h4>@flavor.Flavorname</h4>
                                    <p class="ingredients">@flavor.Description</p>
                                    <p class="price">$@flavor.Price</p>
                                </div>
                            }
                        </div>

                    </div><!-- End Dinner Menu Content -->

                    <div class="tab-pane fade" id="iced">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Iced</h3>
                        </div>

                        <div class="row gy-5">
                            @foreach (var flavor in Model)
                            {
                                if(flavor.Category == "Iced")
                                {
                                    <div class="col-lg-4 menu-item">
                                        <a href="@flavor.Image" class="glightbox"><img src="@flavor.Image" class="menu-img img-fluid" alt=""></a>
                                        <h4>@flavor.Flavorname</h4>
                                        <p class="ingredients">@flavor.Description</p>
                                        <p class="price">$@flavor.Price</p>
                                    </div>
                                }
                            }
                        </div>
                    </div><!-- End Starter Menu Content -->

                    <div class="tab-pane fade" id="glazed">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Glazed</h3>
                        </div>

                        <div class="row gy-5">
                            @foreach (var flavor in Model)
                            {
                                if (flavor.Category == "Glazed")
                                {
                                    <div class="col-lg-4 menu-item">
                                        <a href="@flavor.Image" class="glightbox"><img src="@flavor.Image" class="menu-img img-fluid" alt=""></a>
                                        <h4>@flavor.Flavorname</h4>
                                        <p class="ingredients">@flavor.Description</p>
                                        <p class="price">$@flavor.Price</p>
                                    </div>
                                }
                            }
                        </div>

                    </div><!-- End Breakfast Menu Content -->

                    <div class="tab-pane fade" id="filled">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Filled</h3>
                        </div>

                        <div class="row gy-5">
                            @foreach (var flavor in Model)
                            {
                                if (flavor.Category == "Filled")
                                {
                                    <div class="col-lg-4 menu-item">
                                        <a href="@flavor.Image" class="glightbox"><img src="@flavor.Image" class="menu-img img-fluid" alt=""></a>
                                        <h4>@flavor.Flavorname</h4>
                                        <p class="ingredients">@flavor.Description</p>
                                        <p class="price">$@flavor.Price</p>
                                    </div>
                                }
                            }
                        </div>

                    </div><!-- End Lunch Menu Content -->

                    <div class="tab-pane fade" id="limitedtime">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Limited Time</h3>
                        </div>

                        <div class="row gy-5">
                            @foreach (var flavor in Model)
                            {
                                if (flavor.Category == "Limited Time")
                                {
                                    <div class="col-lg-4 menu-item">
                                        <a href="@flavor.Image" class="glightbox"><img src="@flavor.Image" class="menu-img img-fluid" alt=""></a>
                                        <h4>@flavor.Flavorname</h4>
                                        <p class="ingredients">@flavor.Description</p>
                                        <p class="price">$@flavor.Price</p>
                                    </div>
                                }
                            }
                        </div>

                    </div><!-- End Dinner Menu Content -->

                </div>

            </div>

        </section><!-- /Menu Section -->
     
        <!-- Contact Section -->
        <section id="contact" class="contact section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p><span>Ready to Order? Need Help?</span><br /> <span class="description-title">Place an Order or Contact Us</span></p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Address</h3>
                                <p>123 Cougar Blvd, Provo, UT 84604</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>+1 555 555 5555</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>info@paradisedonutcompany.com</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                            <i class="icon bi bi-clock flex-shrink-0"></i>
                            <div>
                                <h3>Opening Hours<br></h3>
                                <p><strong>Mon-Sat:</strong> 11AM - 10PM; <strong>Sunday:</strong> Closed</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send</button>
                        </div>

                    </div>
                </form><!-- End Contact Form -->

            </div>

        </section><!-- /Contact Section -->

    </main>

</body>

</html>